<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Weather Fire 🔥</title>
		<meta name="description" content="A cool thing made with Glitch">
		<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico"
			type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
			rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Google+Sans"
			rel="stylesheet">

		<link rel="stylesheet" href="/style.css">
		<script src="/bundle.js" defer></script>
	</head>
	<body class="bg-white-dark text-black flex-col items-center justify-center
		px-4">

		<div class="bg-white container container-md mx-auto my-8 shadow-lg rounded-lg
			width-third">

			<div class="container wizard-content">

				<div class="w-full h-full">

					<div id="app"></div>

				</div>

			</div>

		</div>

		<!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
		<div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
		<script src="https://button.glitch.me/button.js"></script>

	</body>
</html>
